.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#c {
  margin-top: 10rem;
  border: 5px solid gray;
}

button {
  /* background-color: ; */
  background-color: aqua;
  border: none;
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
  font-weight: 700;
}

button:hover {
  background-color: darkturquoise;
}

h1 {
  margin-bottom: 0.5rem;
}
h3 {
  margin-top: 0rem;
  color: rgba(0, 0, 0, 0.705);
}
